<form action="/submit_form" method="post">
  <input type="text" name="key" value="" placeholder="key of happy thing">
  <input type="text" name="value" value="" placeholder="Value of Happy thing">
  <input type="submit" value="click">
</form>
