  
form{
    display: none;
    font-size: 0.8em;
    width: 300px;
    background-color: rgba(255, 255, 255, 0);
    margin: auto;
    padding: 10px;
    text-align: left;
    opacity:0;
}

label{
  color: rgb(222, 29, 29);
  text-shadow: 0px 0px 6px rgba(0,0,0,.7);
  font-size: 2em;
}

#rules{
  display: block;
}
#submit{
    text-align: right;
}
